@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
  scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  max-width: 1800px;
}

/*Stop the body from scrolling when the menu is open, on smaller screens*/
body.menuOpen {
  overflow: hidden;
}

#logo {
  background-color: #f3ec78;
  background-image: linear-gradient(45deg, #f3ec78, #af4261);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

/* clears the ‘X’ from Internet Explorer */
input[type=search]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=search]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

input[type=search] {
  outline: 0;
  padding: 7px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

hr {
  background-image: linear-gradient(45deg, #f3ec78, #af4261);
  height: 100px;
}

/*INCREASE THE SIZE OF THE INDICATORS (i.e the circles at the bottom of the carousel)*/
ul.control-dots .dot {
  height: 20px !important;
  width: 20px !important;
}

/*OVERRIDE THE DEFAULT CSS OF THE CAROUSEL, FOR THE NEXT AND PREVIOUS ARROWS*/

/* INCREASE THE "next arrow's" SIZE */
button.control-arrow.control-next::before {
  border-bottom: 20px solid transparent !important;
  border-top: 20px solid transparent !important;
  border-left: 20px solid #fff !important;
  margin-left: 20px !important;

}

/* INCREASE THE "previous arrow's" SIZE */
button.control-arrow.control-prev::before {
  border-bottom: 20px solid transparent !important;
  border-top: 20px solid transparent !important;
  border-right: 20px solid #fff !important;
  margin-right: 20px !important;
}

#Carousel p {
  text-shadow: 3px 3px 2px rgba(255, 255, 255, 1);
}

@media (prefers-color-scheme: dark) {
  #Carousel p {
    text-shadow: 3px 3px 2px rgba(0, 0, 0, 1);
  }
}

@media only screen and (min-width: 520px) {
  #CarouselButtons {
    width: 40% !important;
  }
}

@media only screen and (min-width: 800px) {
  #CarouselButtons>* {
    width: 250px !important;
    margin-bottom: 0 !important;
    margin-right: 1rem;
  }

  #CarouselButtons {
    flex-direction: row !important;
    width: 100% !important;
    max-width: none !important;
  }

  #Carousel p {
    font-size: 80px;
    padding-bottom: 1.2rem;
  }
}

@media only screen and (min-width: 1200px) {
  #Carousel {
    align-self: center !important;
  }
}


footer {
  background: url(../../public/wave.svg) no-repeat;
  background-size: cover;
  background-position: center;
}

#overLay {
  position: fixed !important;
  opacity: 0.2 !important;
}


/*Animate the shopping cart and mobile's menu bar to slide in and out of view*/

#shopping-cart {
  transition: transform 0.5s linear;
}

/*Style the login field in the checkout section*/
#loginWrapper,
#signWrapper {
  border-top-right-radius: 20%;
  border-top-left-radius: 20%;
}